
/* Menu style */
/* Home style */
/* Style */
html {
	background-color: #fff;
	color: #636b6f;
	font-family: "Nunito", sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}
body {
	background-color: #fff;
	color: #636b6f;
	font-family: "Nunito", sans-serif;
	font-weight: 200;
	height: 100vh;
	margin: 0;
}
body {
    h1, h2, h3, h4, h5, h6 {
        color: #505050;
        font-weight: 700;
    }
}
.sh-heading {
    span.sh-heading-content {
        color: #505050;
        font-weight: 700;
    }
}
a {
    text-decoration: none;
    word-wrap: break-word;
    &:hover, &:focus {
        color: #47c9e5;
        text-decoration: none !important;

    }
}
.masonry-shadow {
    .post-title {
        h2 {
            &:hover {
                color: #47c9e5;
            }
        }
    }
}
.post-item-single {
    .post-meta-comments {
        padding-left: 15px;
    }
}
.article-content {
    a {
        color: #8d8d8d!important;
    }
}
.full-height {
	height: 100vh;
}
.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}
.position-ref {
	position: relative;
}
.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}
.content {
	text-align: center;
}
.title {
	font-size: 84px;
}
.links {
	>a {
		color: #636b6f;
		padding: 0 25px;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0.1rem;
		text-decoration: none;
		text-transform: uppercase;
	}
}
.m-b-md {
	margin-bottom: 30px;
}
.nav-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	li.menu-item {
		float: left;
		padding: 0 15px;
		border-bottom: 0 solid transparent;
		position: inherit;
		padding-top: 30px;
		padding-bottom: 30px;
		max-height: none;
		transition: .3s padding ease-in-out;
		a {
			font-size: 13px;
			font-weight: 700;
			text-transform: none;
			line-height: 40px;
			max-height: 40px;
			display: block;
			color: #7e7e7e;
		}
	}
}
.unique-color-dark {
	background-color: #262626  !important;
}
.card-deck {
	.card {
		margin-bottom: 15px;
	}
}
.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}
.card-body {
	padding: 15px 0;
}
li.menu-item {
	&:last-child {
		padding-right: 0;
	}
}
.sh-nav-social {
	a {
		display: block !important;
		float: left;
		padding: 0 5px;
		&:first-child {
			padding-left: 0;
		}
	}
}
a {
	color: #47c9e5;
	text-decoration: none;
	word-wrap: break-word;
	&:hover {
		color: #47c9e5;
		text-decoration: none;
		color: #1139ff;
	}
	&:focus {
		color: #47c9e5;
		text-decoration: none;
		color: #1139ff;
	}
}
.menu-item {
	a {
		&:hover {
			color: #47c9e5 !important;
			text-decoration: none;
		}
	}
}
.site-logo {
	padding: 15px 0;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 0px;
	position: relative;
	z-index: 100;
}
.menu-block {
	position: relative;
	left: 0;
	top: 0px;
	border-bottom: 1px solid rgba(0,0,0,.08);
}
.cart-icon {
	position: relative;
	top: -4px;
	margin-left: -5px;
	display: inline-block;
	span {
		display: inline-block;
		background-color: #47c9e5;
		color: #fff;
		font-size: 11px;
		font-weight: 700;
		position: relative;
		z-index: 100;
		width: 20px;
		height: 16px;
		line-height: 16px;
		text-align: center;
		border-radius: 9px;
		font-weight: 700;
		box-shadow: 0px 1px 2px 1px rgba(0,0,0,.15);
	}
}
.about-us {
	.row {
		margin: 0;
	}
}
.home {
	padding: 130px 0px 130px 0px;
}
.home-box {
	text-align: center;
}
.left-image {
	background-size: cover;
	padding: 50px 15px 0px 15px;
	background-color: #ffffff;
	background-image: url(/image/Agency_about_us_1.jpg);
	background-position: bottom;
}
.right-text {
	padding: 130px 7% 130px 7% !important;
	background-color: #ffffff;
	background-position: center center;
	box-shadow: 0 15px 25px -7px rgba(0,0,0,0.09), 0 -12px 10px -10px rgba(0,0,0,0.04);
}
.sh-counter-number {
	color: #42c4e0;
	font-weight: 700 !important;
}
.sh-counter-style3 {
	.text-left {
		width: 50%;
		padding-left: 18px;
		border-left: 1px solid rgba(0,0,0,.1);
	}
	.sh-counter-title {
		font-size: 18px;
		font-weight: 700;
	}
	.sh-counter-subtitle {
		font-size: 18px;
	}
	.sh-counter-number {
		font-size: 48px;
		font-weight: 700;
		padding: 0;
	}
	.text-right {
		width: 50%;
		padding-right: 18px;
	}
}
.sh-table-cell {
	display: table-cell;
	vertical-align: middle;
	float: none !important;
	display: table-cell;
	vertical-align: middle;
	float: none !important;
}
.text-left {
	text-align: left;
}
.sh-counter-title {
	color: #545454;
}
.sh-counter-subtitle {
	color: #3f3f3f;
}
.our-infor {
	padding: 100px 15px 100px 15px;
}
.text-right {
	text-align: right;
}
.size-m {
	font-size: 20px;
}
.size-s {
	font-size: 16px;
}
.size-l {
	font-size: 30px;
}
.size-xl {
	font-size: 36px;
}
.size-xxl {
	font-size: 48px;
}
.heading {
	.heading-content {
		background-position: 50% 50%;
		background-size: cover;
		margin-bottom: 0;
	}
	span {
		display: block;
	}
}
.sh-section {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
}
.divider-content {
	position: relative;
	font-size: 16px;
	z-index: 1;
	overflow: hidden;
	text-align: center;
	padding: 0 10px;
	margin: 0 auto;
	&:before {
		position: absolute;
		top: 50%;
		overflow: hidden;
		width: 50%;
		height: 1px;
		content: '';
		border-top: 0 solid #e5e5e5;
		margin-top: 0;
		border-top-width: 1px;
		border-top-style: solid;
		margin-left: -50%;
		text-align: right;
	}
	&:after {
		position: absolute;
		top: 50%;
		overflow: hidden;
		width: 50%;
		height: 1px;
		content: '';
		border-top: 0 solid #e5e5e5;
		margin-top: 0;
		border-top-width: 1px;
		border-top-style: solid;
	}
}
.divider-icon {
	font-size: 24px;
	padding: 0 25px;
	letter-spacing: 1px;
	i {
		position: relative;
		bottom: -1px;
	}
}
.sh-divider-content-none {
	.sh-divider-line {
		border-top-width: 1px;
		border-top-color: #ebebeb;
		border-top-style: solid;
	}
}
.divine-line {
	padding: 0px 0px 130px 0px;
}
.sh-column {
	background-size: cover;
	background-position: 50% 50%;
	padding: 0 15px;
	margin: 0;
	transition: all .3s ease-in-out !important;
}
.fw-row {
	margin: 0;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
	}
}
.sh-section-container {
	position: relative;
	z-index: 100;
}
.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.sh-heading {
	.sh-heading-content {
		background-position: 50% 50%;
		background-size: cover;
		margin-bottom: 0;
	}
	span {
		display: block;
	}
	span.sh-heading-animated-typed {
		display: inline;
	}
	span.typed-cursor {
		display: inline;
	}
	span.sh-heading-animated-fixed {
		display: inline;
	}
}
.sh-column-wrapper {
	>* {
		&:last-child {
			margin-bottom: 0;
			margin-bottom: 0;
		}
	}
	z-index: 1;
	position: relative;
	transition: all .3s ease-in-out !important;
}
.btn-group-vertical {
	>.btn-group {
		&:after {
			display: table;
			content: " ";
		}
		&:before {
			display: table;
			content: " ";
		}
	}
}
.btn-toolbar {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.clearfix {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.container {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.dl-horizontal {
	dd {
		&:after {
			display: table;
			content: " ";
		}
		&:before {
			display: table;
			content: " ";
		}
	}
}
.form-horizontal {
	.form-group {
		&:after {
			display: table;
			content: " ";
		}
		&:before {
			display: table;
			content: " ";
		}
	}
}
.modal-footer {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.modal-header {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.nav {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.navbar-collapse {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.navbar-header {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.navbar {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.pager {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.panel-body {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
.row {
	&:after {
		display: table;
		content: " ";
	}
	&:before {
		display: table;
		content: " ";
	}
}
#small-divider {
	margin: 25px 0px 20px 0px !important;
}
#small-divider.sh-divider-content-none {
	.sh-divider-line {
		border-top-width: 1px;
		border-top-style: solid;
		max-width: 60px;
	}
}
.sh-divider-line {
	border-top: 1px solid #e5e5e5;
	margin: 0 auto;
}
.sh-filter-container {
	display: table;
	margin: 20px auto;
	margin-bottom: 40px;
}
.sh-filter {
	float: left;
	text-align: center;
	span {
		display: inline-block;
		position: relative;
		bottom: -2px;
		margin: 0;
		margin-right: -4px;
		padding: 15px 10px;
		cursor: pointer;
		font-weight: 700;
		border-bottom: 1px solid #eee;
		font-size: 13px;
		text-transform: uppercase;
		transition: .3s all ease-in-out;
		&:first-child {
			padding-left: 0;
		}
	}
	span.active {
		color: #47c9e5;
		transition: 0s all ease-in-out;
	}
}
.sh-filer-icon {
	float: left;
	font-size: 24px;
	margin-right: 32px;
	margin-top: 19px;
	position: relative;
	display: none;
}
.sh-filter-item {
	&:hover {
		color: #47c9e5 !important;
	}
}
.masonry-shadow {
    .post-title {
        h2 {
            margin-top: 30px;
            font-size: 20px;
        }
    }
}
.sh-portfolio-overlay {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.sh-portfolio-overlay4 {
	display: block;
	align-items: center;
	justify-content: center;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	background-color: rgba(71,201,229,.8) !important;
	cursor: auto;
	opacity: 0;
	transition: .5s all;
	background-color: rgba(71,201,229,0.8) !important;
	.sh-overlay-item {
		width: 50%;
		position: relative;
		text-align: center;
		text-align: center;
		height: 60px;
		transition: .5s all;
		opacity: 1;
		width: 60px;
		display: table-cell;
		padding: 0 10px;
		&:hover {
			.sh-overlay-item-container {
				i {
					color: #505050;
				}
				background-color: #fff;
				width: 60px;
				-webkit-animation: icon_round_animation .5s;
				animation: icon_round_animation .5s;
				color: #fff;
				box-shadow: 0px 2px 5px 1px rgba(0,0,0,.2);
			}
		}
	}
	.sh-overlay-item-container {
		transition: .5s all;
		width: 60px;
		height: 60px;
		border-radius: 100px;
		position: absolute;
		top: 50%;
		right: 10px;
		-webkit-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
		text-align: center;
		i {
			font-size: 24px;
			line-height: 57px;
			transition: .5s all;
			color: #fff;
		}
	}
}
.sh-team-social-overlay2 {
	.sh-team-image {
		&:hover {
			.sh-team-overlay2 {
				background-color: rgba(71,201,229,0.8) !important;
			}
		}
	}
}
.sh-overlay-style1 {
	background-color: rgba(71,201,229,0.8) !important;
}
.sh-portfolio-masonry2 {
	padding: 0;
	margin: 0;
	.sh-portfolio-image {
		position: relative;
	}
}
.sh-portfolio-style-masonry2 {
	margin: 0;
}
.sh-portfolio-columns4 {
	.sh-portfolio-item {
		width: 25%;
	}
}
.sh-portfolio-image {
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.sh-portfolio-image-fluid {
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.sh-portfolio-image-position {
	display: block;
	position: relative;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	width: 100%;
	margin-bottom: 0 !important;
}
.sh-portfolio-img {
	width: 100%;
	margin-bottom: 0 !important;
}
img {
	max-width: 100%;
	min-height: 1px;
	height: auto;
	vertical-align: middle;
	border: 0;
}
.sh-portfolio-overlay4-container {
	display: table;
	margin: 0 auto;
	padding: 120px;
	color: #fff;
	text-align: center;
	margin-bottom: -12px;
}
.sh-portfolio-overlay4-title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 5px;
}
.sh-portfolio-overlay4-categories {
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 15px;
	a {
		color: #fff !important;
	}
	.sh-portfolio-category {
		&:hover {
			opacity: .75;
		}
	}
}
.post-meta-two {
	a {
		&:hover {
			color: #1139ff;
		}
	}
}
.sh-portfolio-overlay1-categories {
	.sh-portfolio-category {
		&:hover {
			opacity: .75;
		}
	}
}
.sh-portfolio-overlay2-categories {
	.sh-portfolio-category {
		&:hover {
			opacity: .75;
		}
	}
}
.sh-portfolio-overlay3-categories {
	.sh-portfolio-category {
		&:hover {
			opacity: .75;
		}
	}
}
.sh-whitespace-small {
	padding: 0 5px;
}
.sh-portfolio-overlay4-icons {
	width: 160px;
	margin: 0 auto;
}
.sh-table {
	display: table;
	width: 100%;
}
.grid-block {
	> div {
		padding: 0;
	}
}
.icon-link {
	&:before {
		content: "\e08d";
	}
}
.sh-portfolio-overlay-style-overlay4 {
	.sh-portfolio-image {
		&:hover {
			.sh-portfolio-overlay4 {
				opacity: 1;
			}
		}
	}
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fw-col-xs-1 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-1 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-1 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-1 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-2 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-2 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-2 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-2 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-3 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-3 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-3 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-3 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-4 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-4 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-4 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-4 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-5 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-6 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-7 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-7 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-7 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-7 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-8 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-8 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-8 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-8 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-9 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-10 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-10 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-10 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-10 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-11 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-11 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-11 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-11 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-xs-15 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-sm-15 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-md-15 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.fw-col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
.features {
	.fw-col-xs-12 {
		padding: 130px 4% 130px 4%;
		background-color: rgba(0,0,0,0);
		border-right: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;
	}
}
.sub-features {
	.fw-col-xs-12 {
		padding: 130px 4% 130px 4%;
		background-color: rgba(0,0,0,0);
		border-right: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;
	}
}
.typed-cursor {
	opacity: 1;
	-webkit-animation: blink .7s infinite;
	animation: blink .7s infinite;
}
.sh-iconbox-style10 {
	.sh-iconbox-top {
		text-align: center;
		padding-bottom: 15px !important;
		border-bottom: 1px solid #e8e8e8;
		>div {
			display: inline-block;
			line-height: normal;
		}
	}
	.sh-iconbox-container {
		>div {
			padding: 10px;
		}
		>.sh-iconbox-top {
			padding-top: 0;
		}
	}
	h3 {
		margin-bottom: 0;
	}
	.sh-iconbox-icon {
		margin-bottom: 0;
	}
}
.sh-iconbox {
	margin: 0 0 15px;
	position: relative;
	text-align: center;
	&:hover {
		.sh-iconbox-title {
			h3 {
				color: #47c9e5;
			}
		}
	}
}
.sh-iconbox-title {
	h3 {
		font-size: 18px;
		font-weight: bold !important;
	}
}
.sh-iconbox-icon {
	font-size: 30px;
}
i.fa {
	font-size: 20px;
}
.blog-news {
	padding: 130px 0px 130px 0px;
}
@media screen and (min-width: 576px) {
	.slice.style1 {
		.card {
			flex-basis: 350px;
			margin-bottom: 30px;
			border: none;
		}
	}
}
@media (min-width: 576px) {
	.card-deck {
		.card {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-flex: 1;
			-ms-flex: 1 0 0%;
			flex: 1 0 0%;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-right: 15px;
			margin-bottom: 0;
			margin-left: 15px;
		}
	}
}
@media only screen and (min-width: 600px) {
	.features, .sub-features, .customer-review {
		display: flex;
    }
    .customer-review {
        .fw-row {
            display: flex !important;
        }
    }
}
@media (min-width: 1200px) {
	.fw-col-lg-2 {
		width: 16.66666667%;
		float: left;
	}
	.fw-col-lg-3 {
		width: 25%;
		float: left;
	}
	.fw-col-lg-4 {
		width: 33.33333333%;
		float: left;
	}
	.fw-col-lg-5 {
		width: 41.66666667%;
		float: left;
	}
	.fw-col-lg-6 {
		width: 50%;
		float: left;
	}
	.fw-col-lg-7 {
		width: 58.33333333%;
		float: left;
	}
	.fw-col-lg-8 {
		width: 66.66666667%;
		float: left;
	}
	.fw-col-lg-9 {
		width: 75%;
		float: left;
	}
	.fw-col-lg-10 {
		width: 83.33333333%;
		float: left;
	}
	.fw-col-lg-11 {
		width: 91.66666667%;
		float: left;
	}
	.fw-col-lg-12 {
		width: 100%;
		float: left;
	}
	.fw-col-lg-1 {
		float: left;
	}
	.fw-col-lg-15 {
		float: left;
	}
}
@media (min-width: 992px) {
	.fw-col-md-2 {
		width: 16.66666667%;
		float: left;
	}
	.fw-col-md-3 {
		width: 25%;
		float: left;
	}
	.fw-col-md-4 {
		width: 33.33333333%;
		float: left;
	}
	.fw-col-md-5 {
		width: 41.66666667%;
		float: left;
	}
	.fw-col-md-6 {
		width: 50%;
		float: left;
	}
	.fw-col-md-7 {
		width: 58.33333333%;
		float: left;
	}
	.fw-col-md-8 {
		width: 66.66666667%;
		float: left;
	}
	.fw-col-md-9 {
		width: 75%;
		float: left;
	}
	.fw-col-md-10 {
		width: 83.33333333%;
		float: left;
	}
	.fw-col-md-11 {
		width: 91.66666667%;
		float: left;
	}
	.fw-col-md-12 {
		width: 100%;
		float: left;
	}
	.fw-col-md-1 {
		float: left;
	}
	.fw-col-md-15 {
		float: left;
	}
}
@media (min-width: 768px) {
	.fw-col-sm-2 {
		width: 16.66666667%;
		float: left;
	}
	.fw-col-sm-3 {
		width: 25%;
		float: left;
	}
	.fw-col-sm-4 {
		width: 33.33333333%;
		float: left;
	}
	.fw-col-sm-5 {
		width: 41.66666667%;
		float: left;
	}
	.fw-col-sm-6 {
		width: 50%;
		float: left;
	}
	.fw-col-sm-7 {
		width: 58.33333333%;
		float: left;
	}
	.fw-col-sm-8 {
		width: 66.66666667%;
		float: left;
	}
	.fw-col-sm-9 {
		width: 75%;
		float: left;
	}
	.fw-col-sm-10 {
		width: 83.33333333%;
		float: left;
	}
	.fw-col-sm-11 {
		width: 91.66666667%;
		float: left;
	}
	.fw-col-sm-12 {
		width: 100%;
		float: left;
	}
	.fw-col-sm-1 {
		float: left;
	}
	.fw-col-sm-15 {
		float: left;
	}
}
@media only screen and (max-width: 1024px) {
    .sh-portfolio-overlay4-container {
        padding: 40px;
    }
    .grid-block {
        height: 260px !important;
    }
    .features .size-xxl {
        font-size: 30px;
    }
}
@media only screen and (max-width: 800px) {
    .sh-portfolio-overlay4-container {
        padding: 10px;
    }
    .features .size-xxl {
        font-size: 24px;
    }
}
.masonry-shadow {
    .post-content-container {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.post-meta-thumb {
    img {
        width: 100%;
        min-width: 100%;
        height: auto;
        transition: all .3s ease-in-out;
        margin-bottom: 0;
    }
}
.sh-team-social-overlay2 {
    .sh-team-image {
        &:hover {
            .sh-team-overlay2 {
                background-color: rgba(71,201,229,0.8)!important;
            }
        }
    }
}
.sh-popover-mini:not(.sh-popover-mini-dark) {
    background-color: #47c9e5;
}
.sh-popover-mini {
    position: absolute;
    left: 20px;
    background-color: #3f3f3f;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    padding: 0 15px;
    line-height: 30px;
    min-height: 0;
    min-width: 0;
    z-index: 100;
    cursor: default;
    border-radius: 30px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,.2);
    border: 2px solid #fff;
    white-space: nowrap;
}
.masonry-shadow {
    .post-container {
        box-shadow: 0px 10px 11px 0px rgba(0,0,0,.05);
    }
}
.post-container {
    margin: 0;
    position: relative;
}
.post-meta-thumb img {
    &:hover {
        background: rgba(71, 201, 229, .5);
    }
}
.sh-overlay-style1,
.sh-portfolio-overlay4 {
    background-color: rgba(71,201,229,0.8)!important;
}
.sh-overlay-style1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(71,201,229,.8);
    font-size: 24px;
    opacity: 0;
}
.masonry-shadow {
    .post-meta-two {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 30px;
        border-top: 1px solid #e9e9e9;
        padding: 15px 30px 35px;
    }
    .post-meta-categories {
        float: left;
    }
    a.post-meta-comments {
        float: right;
    }
}
.post-meta-date {
    padding-left: 10px;
}
.post-meta-one {
    margin-bottom: 10px;
}
.post-content {
    padding-bottom: 15px;
    word-break: break-word;
}
.content-with-sidebar-right {
    .post-title {
        h2 {
            font-size: 20px;
            margin-top: 0;
            &:hover {
                color: #47c9e5;
            }
        }
    }
    .post-container {
        margin-bottom: 45px;
    }
}
img.card-img-top.wp-post-image {
    &:hover {
        filter: opacity(0.5);
    }
}
p:last-child {
    margin-bottom: 0;
}
.sh-overlay-style1 {
    .sh-overlay-item-container {
        transition: .5s all;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }
}
.left-review-img {
    padding: 60px 15px 60px 15px;
    background-color: #ffffff;
    background-image: url(//cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Agency_partners.jpg);
    height: 682px;
}
.right-review {
    text-align: center;
    padding: 145px 7% 185px 7%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px -7px rgba(0,0,0,0.09), 0 -12px 10px -10px rgba(0,0,0,0.04);
}
.customer-review {
    .sm-heading {
        margin: 0 0 15px 0;
    }
}
.sh-divider-content:before {
    margin-left: -50%;
    text-align: right;
}

.sh-divider-content:before, .sh-divider-content:after {
    position: absolute;
    top: 50%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '';
    border-top: 1px solid #e5e5e5;
    margin-top: 0;
}
.sh-divider-content {
    position: relative;
    font-size: 16px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    margin: 0 auto;
    color: #dddddd;
    .sh-divider-icon {
        font-size: 24px;
        padding: 0 25px;
        letter-spacing: 1px;
    }
}
.sh-testimonials-style1 {
    .sh-testimonials-quote {
        margin-top: 38px;
        margin-bottom: 20px;
    }
}
.background-letter {
    text-align: center;
    margin: 120px 0;
    padding: 90px;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/01/Home_1_paralax.jpg);
    .sh-heading {
        .sh-heading-content {
            color: #fff;
        }
    }
}
.container-fluid {
    padding: 0 !important;
}
.page-footer {
    color: #fff;
}

.shop {
    background-image: url(https://cdn.jevelin.shufflehound.com/wp-content/uploads/2016/04/Showcase_slide_img.jpg);
    background-size: cover;
    background-position: center;
    padding: 200px !important;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}
.shop {
    h2.titlebar-title-h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .sh-titlebar-desc {
        color: #fff;
        font-style: italic;
        font-size: 16px;
        opacity: .8;
        margin-top: 16px;
    }
}
.product-content {
    padding: 60px 0;
}

.widget_search {
    .search-field {
        border-width: 0;
        box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
        padding: 16px 74px 16px 26px;
        transition: .3s all ease-in-out;
        border-radius: 5px!important;
    }
}
.widget_search {
    .search-field {
        display: block;
        width: 140%;
        font-weight: 400;
        border: 1px solid #ddd;
        color: #8d8d8d;
    }
}
input {
    border-color: #e5e5e5!important;
}
input[type=search] {
    -webkit-appearance: none;
}
.widget_search {
    .search-submit {
        right: 0;
        margin-top: -30px;
        width: 55px;
        height: 56px;
        background-color: #f0f0f0;
    }
}
.widget_search {
    .search-submit {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}
.widget_search {
    .search-submit {
        position: absolute;
        display: block;
        top: 30px;
        border: transparent;
        right: 0;
    }
    .search-form {
        i {
            font-size: 16px;
            line-height: 38px;
        }
    }
}
.widget-item {
    padding-bottom: 45px;
}
.home, .about-us, .our-infor {
    margin: 0 0.5rem;

    animation: bounce;
    animation-duration: 2s;
}
.box-icon {
    padding-bottom: 10px;
    a {
        color: #e6e6e6;
        &:hover {
            color: #47c9e5;
        }
    }
    i.fa {
        font-size: 55px;
    }
}
.post-content-container {
    a,
    i {
        color: #8d8d8d!important;
    }
}
.post-title {
    img {
        &:hover {
            filter: opacity(0.5);
        }
    }
}
.top-area {
    padding: 40px 0;
    background: #f8f9fa;
}
.center-area {
    padding: 60px 0;
}
.post-right-side {
    .post-content {
        padding-bottom: 15px;
        word-break: break-word;
    }
    .post-meta-two {
        border-top: 1px solid #e9e9e9;
        padding-top: 15px;
    }
    .post-meta-one {
        margin-bottom: 10px;
    }
    .post-meta-categories {
        float: left;
    }
    a.post-meta-comments {
        float: right;
    }
    a {
        color: #8d8d8d!important;
    }
}
.article-content {
    h1, h2 {
        padding-top: 15px;
        cursor: default;
        font-size: 20px;
        line-height: 135%;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 16px;
    }
    .post-meta-data {
        font-size: 14px !important;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 30px;
        margin-bottom: 20px;
    }
    .post-meta-categories {
        a  {
            font-size: 14px!important;
        }
    }
    .sh-columns {
        .post-meta-one {
            float: left;
        }
        .post-meta-two {
            float: right;
        }
    }
    .post-meta-one {
        margin-bottom: 0;
    }
    .post-meta-two {
        padding-top: 0;
        border-top: 0;
    }
}
.related-posts {
    h2 {
        font-size: 18px;
    }
}
.sh-related-posts-title {
    h3 {
        font-size: 16px;
        margin-bottom: 0;
    }
}
a.post-meta-comments {
    float: right;
}
.post-meta-comments,
.post-meta-comments a {
    color: #8d8d8d !important;
}
.related-posts {
    margin-top: 40px;
}
.related-posts {
    .post-container {
        padding-top: 20px;
    }
    .post-meta-thumb {
        &:hover {
            opacity: 0.5;
            cursor: pointer;
        }
    }
}
.post-title {
    h1, h2 {
        font-size: 20px;
        line-height: 135%;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 16px;
    }
}
.post-meta-two {
    border-top: 1px solid #e9e9e9;
    padding-top: 15px;
}

@media only screen and (max-width: 800px) {
    .sh-counter-style3 {
        .sh-counter-number {
            font-size: 28px;
        }
    }
    .size-xl {
        font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .home-box {
        padding: 30px 0;
    }
    .size-xl {
        font-size: 30px;
    }
    .size-xxl {
        font-size: 40px;
    }
    .left-image {
        padding: 250px 15px 0px 15px;
    }
    .right-text {
        padding: 30px 7% 30px 7% !important;
    }
    .our-infor {
        padding: 50px 15px 50px 15px;
    }
    .divine-line {
        padding: 0px 0px 50px 0px;
    }
    .grid-block {
        height: auto !important;
    }
    .features {
        .fw-col-xs-12 {
            height: auto !important;
            padding: 50px 4% 50px 4%;
        }
    }
    .sub-features {
        .fw-col-xs-12 {
            height: auto !important;
            padding: 50px 4% 50px 4%;
        }
    }
    .sh-iconbox-style10 {
        .sh-iconbox-top {
            border: none;
        }
    }
    .blog-news {
        padding: 50px 0px 50px 0px;
        article {
            padding: 30px 0;
        }
    }
    .left-review-img {
        height: 250px;
        background-size: contain;
    }
    .right-review {
        padding: 50px 7% 50px 7%;
    }
    .background-letter {
        padding: 60px 20px;
    }
    #heading-animated {
        text-align: center;
        padding: 30px 0 0;
        h1 {
            font-size: 40px !important;
        }
    }
}
// Sidebar
.woocommerce {
    .product-title {
        transition: .3s all ease-in-out;
    }
    ul.product_list_widget {
        list-style: none outside;
        padding: 0;
        margin: 0;
        li {
            padding: 4px 0;
            margin: 0;
            list-style: none;
            width: 100%;
            display: block;
            position: relative;
            margin-bottom: 15px!important;
            min-height: 65px!important;
            padding-left: 85px!important;
            a {
                display: block;
                font-weight: 700;
                color: #8d8d8d!important;
                img {
                    position: absolute;
                    width: 65px!important;
                    margin-left: 0!important;
                    left: 0;
                    margin: 0 0 1.5em;
                }
            }
        }
    }
    span {
        color: #505050!important;
    }
}
ins {
    text-decoration: none;
}
.center-area {
    .product-content {
        padding-top: 0;
    }
}
.sh-related-posts-title {
    padding-bottom: 30px;
}
#sidebar {
    .product_list_widget {
        .sh-mini-overlay-container {
            position: absolute;
            top: 5px;
            width: 19%;
            right: 0px;
            left: 0;
            bottom: -5px;
            background-color: rgba(71, 201, 229, 0.75);
            text-align: center;
            opacity: 0;
            border-radius: 0;
            z-index: 9;
        }
    }
    .product_list_widget {
        li {
            &:hover {
                .sh-mini-overlay-container {
                    opacity: 1;
                }
            }
        }
    }
    .widget-item {
        padding-bottom: 45px;
        li, .sh-recent-posts-widgets-item {
            border-color: #e3e3e3!important;
        }
        .widget-title {
            font-size: 16px;
            color: #505050;
        }
    }
}
.widget_categories {
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
    }
    li {
        padding: 12px 1px;
        border-bottom: 1px solid #e3e3e3;
        text-transform: uppercase;
        &:first-child {
            padding-top: 0;
        }
        a {
            display: inline-block;
        }
        .count {
            float: right;
            font-weight: 700;
            background-color: #f3f3f3;
            color: #9a9a9a;
            border-radius: 50px;
            padding: 0 8px;
            line-height: 1.4;
            cursor: default;
        }
    }
}
.sh-social-widgets-item {
    margin: 0 5px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    color: #8d8d8d;
    background-color: #f4f4f4;
    font-size: 18px;
    border-radius: 50px;
    i {
        font-size: 19px;
        line-height: 50px;
    }
}
// Product
.product-content {
    .pagination {
        justify-content: center;
        margin-top: 1rem;
    }
}
.product {
    .product_title {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        clear: none;
        margin-top: 0;
    }
    .woocommerce-product-rating {
        line-height: 34px;
        float: right;
        text-align: right;
        margin-bottom: 0!important;
        position: relative;
        display: block;
        > div {
            float: none!important;
            display: inline-block;
        }
        .star-rating {
            margin-top: 0;
            font-size: 18px!important;
            margin-top: 0;
            margin-bottom: 0;
            position: relative;
            bottom: -2px;
            letter-spacing: 4px;
            width: 110px;
            margin: .5em 4px 0 0;
            float: left;
            float: right;
            overflow: hidden;
            position: relative;
            height: 1em;
            line-height: 1;
            font-size: 1em;
            width: 5.4em;
            font-family: star;
            .fa-star-o {
                color: #294cff;
            }
        }
    }
    #nav-info {
        table {
            width: 100%;
            border: 2px solid #e5e5e5;
            border-radius: 0;
            border-collapse: collapse;
            th {
                padding: 15px 20px;
                font-weight: 700;
                margin: 0;
                line-height: 1.5;
                border: 1px solid #e5e5e5;
                td {
                    font-style: italic;
                    padding: 0;
                    border-top: 0;
                    border-bottom: 1px dotted rgba(0,0,0,.1);
                    margin: 0;
                    line-height: 1.5;
                }
            }
        }
    }
    .wc-tabs {
        a {
            font-size: 14px;
            font-weight: 700;
        }
        .active {
            color: #294cff!important;
        }
    }
    .price {
        line-height: 30px;
        margin-bottom: 0;
        min-height: 32px;
        color: #77a464;
        font-size: 1.25em;
        span {
            color: #505050!important;
            font-size: 24px;
            font-weight: 700;
        }
    }
    .woo-seperator-line {
        margin-top: 20px;
        padding-top: 30px;
        border-top: 1px solid #ebebeb;
    }
    .woo-short-description,
    form.cart {
        margin-bottom: 30px;
    }
    .sh-noselect {
        cursor: pointer;
        font-size: 16px;
        transition: .25s all;
        background-color: #f2f2f2;
        border-radius: 50px;
        color: #89898a;
        line-height: 55px;
    }
    .sh-increase-numbers {
        input,
        span {
            float: left;
            display: block!important;
            width: 50px!important;
            height: 50px;
            text-align: center;
        }
        input {
            border-width: 0;
            font-size: 16px!important;
            font-weight: 700;
            padding: 0!important;
            background-color: transparent;
        }
        .sh-quantity-number {
            display: none;
        }
    }
    .cart {
        button {
            line-height: 50px!important;
            padding: 0 25px!important;
            border-radius: 100px!important;
            font-size: 13px;
            text-transform: uppercase;
            background-color: #294cff!important;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            margin: 0 50px;
            border: 0;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .woo-meta-title {
        color: #505050;
        display: inline-block;
        font-weight: 700;
        margin-top: 0;
    }
    .product_meta {
        padding-bottom: 30px;
    }
    .tab-content {
        padding-top: 20px;
    }
    a {
        text-transform: uppercase;
        font-size: 13px;
        color: #8d8d8d;
    }
    h2 {
        font-size: 16px;
        margin-bottom: 15px;
    }
}
// Category
.category-heading {
    display: none;
}
.category-heading:nth-child(1) {
    display: block !important;
}
.widget_categories {
    a {
        color: #8d8d8d!important;
    }
}
// Footer
.sh-footer-widgets {
    background-color: #262626;
    color: #e3e3e3;
    padding: 100px 0;
}
.sh-footer-widgets {
    h3 {
        color: #fff;
        font-size: 20px;
    }
}
.widget-title {
    margin-bottom: 25px;
    color: #fff;
}
.sh-contacts-widget-item {
    margin-bottom: 15px;
    padding-left: 40px;
    position: relative;
}
.sh-contacts-widget-item {
    i {
        display: block;
        padding-top: 4px;
        position: absolute;
        left: 0;
        font-size: 18px;
        width: 18px;
    }
}
.sh-recent-posts-widgets {
    .sh-recent-posts-widgets-item {
        border-color: rgba(255,255,255,.1);
    }
}
.sh-recent-posts-widgets-item {
    padding-bottom: 15px;
    margin-bottom: 25px;
    position: relative;
    border-bottom: 1px solid #f4f4f4;
}
.sh-recent-posts-widgets-item-thumb {
    width: 76px;
    height: 76px;
    border-radius: 100px;
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0;
    top: 0;
}
.sh-footer-widgets a {
    color: #fff;
}
.sh-recent-posts-widgets-item-thumb {
    .sh-ratio {
        border-radius: 100px;
        overflow: hidden;
        z-index: 0;
    }
}
.sh-ratio {
    position: relative;
}
.sh-ratio-container-square {
    padding-bottom: 100%;
}
.sh-ratio-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
}
.sh-mini-overlay-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(71,201,229,.75);
    text-align: center;
    opacity: 0;
    border-radius: 100px;
}
.sh-mini-overlay {
    .sh-mini-overlay-container {
        &:hover {
            opacity: 1;
        }
    }
}
.sh-table-full {
    display: table;
    width: 100%;
    height: 100%;
}
.sh-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none!important;
}
.sh-mini-overlay i {
    line-height: 1px;
    font-size: 24px;
    color: #fff!important;
    display: block;
}
.sh-recent-posts-widgets-count {
    background-color: #47c9e5;
    padding: 2px 6px;
    line-height: 1;
    font-weight: 700;
    border-radius: 20px;
    position: absolute;
    top: -7px;
    right: -7px;
    font-size: 13px;
    z-index: 500;
    color: #fff!important;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,.2);
}
.sh-recent-posts-widgets-count {
    top: 2px;
    right: 2px;
}
.sh-portfolio-widget {
    position: relative;
    margin: -7.5px;
    height: 100px;
}
.sh-portfolio-widget-item {
    padding: 7.5px;
    float: left;
    width: 33.3%;
    max-width: 100px;
    min-width: 60px;
    overflow: hidden;
}
.sh-portfolio-widget-item {
    .sh-portfolio-widget-background {
        display: block;
        position: relative;
        background-size: cover;
        background-position: 50% 50%;
    }
}
.text-md-left {
    h6 {
        color: #fff;
    }
}
.sh-recent-posts-widgets-item-content {
    padding-left: 65px;
    min-height: 55px;
}
.footer-copyright {
    background: #222;
}

// Products
.products {
    .product-item {
        position: relative;
        transition: .3s all ease-in-out;
        margin-bottom: 20px;
        &:hover {
            bottom: -4px;
        }
        .product-title {
            font-size: 1em;
        }
        .additional-information {
            padding-bottom: 10px;
            text-transform: uppercase;
            font-size: 13px;
            color: #8d8d8d;
        }
        .price {
            color: #77a464;
            display: block;
            font-weight: 400;
            margin-bottom: .5em;
            font-size: .857em;
            width: 100%;
            margin-bottom: 15px;
            line-height: 1;
            del {
                padding-right: 5px;
                .amount {
                    font-size: 16px;
                    color: #ccc;
                    opacity: 1;
                }
            }
            ins {
                display: inline-block;
                font-weight: 700;
                text-decoration: none;
                .amount {
                    font-size: 24px;
                    text-decoration: none;
                    color: #505050;
                }
            }
        }
    }
    a {
        &:hover {
            .secondary-image-container {
                opacity: 1;
                img {
                    -webkit-transform: translate3d(0,0,0) scale(0.9,0.9);
                    transform: translate3d(0, 0, 0) scale(0.9, 0.9);
                    filter: saturate(0.8);
                }
            }
        }
        .secondary-image-container {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transition: .5s all ease-in-out;
            background: #fff;
            img {
                transition: .5s all ease-in-out;
            }
        }
        img {
            margin-bottom: 0;
            width: 100%;
            height: auto;
            display: block;
            margin: 0 0 0;
            box-shadow: none;
        }
    }
    .sh-woo-post-content-container {
        box-shadow: 0px 3px 13px 1px rgba(0,0,0,.12);
        padding-top: 30px;
        background-color: #fff;
        padding-top: 30px;
        transition: .3s all ease-in-out;
        a {
            &:first-child {
                padding: 0 30px 5px;
                display: block;
                border-bottom: 1px solid #e9e9e9;
            }
        }
    }
    .add_to_cart_button {
        background-color: transparent;
        padding: 0;
        color: #8d8d8d;
        position: relative;
        display: block;
        padding: 20px 30px!important;
        line-height: 1!important;
        font-size: 13px;
        text-transform: uppercase;
    }
}
